.Rproj.user
.Rhistory
.RData
.Ruserdata
.week02_script.html
.week02_script.html
week02_script.html
week03_script.html
week04_script.html
data_raw
week05_script.html
week06_script.html
week06_script.R
week07_script.html
week08_script.html
week09_script.html
week09_script.R -> week09&10_script.R
